# Bienvenue dans jupyter : ceci est un titre en markdown

In [1]:
# premier morceau de code : on charge les packages
library(pmeasyr)
library(MonetDBLite)
library(DBI)
library(dplyr, warn.conflicts = F)

# on se connecte à la base de données MonetDBLite AP-HP
dbdir <- "~/Documents/data/monetdbpsl"
con <- src_monetdblite(dbdir)

# appuyer sur Run ou ctrl entrée pour compiler ce morceau de code

Jupyter est une application web qui permet d'associer la programmation à des éléments statiques comme cette phrase.

# Exemple de requête sur les ace rafael C

In [2]:
# Quelles sont les variables de cette table
tbl_rsf(con, 17, 'rafael_c') %>% glimpse

Observations: ??
Variables: 27
$ numseq      <chr> "00000001", "00000002", "00000003", "00000004", "000000...
$ filler      <chr> "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "...
$ tyenr       <chr> "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", ...
$ typform     <chr> "2", "2", "2", "2", "2", "2", "2", "2", "2", "2", "2", ...
$ nfaqseq     <chr> "001", "001", "001", "001", "001", "001", "001", "001",...
$ nofiness    <chr> "750100125", "750100125", "750100125", "750100125", "75...
$ nofinessgeo <chr> "750100125", "750100125", "750100125", "750100125", "75...
$ aasort      <chr> "2017", "2017", "2017", "2017", "2017", "2017", "2017",...
$ mmsort      <chr> "01", "01", "01", "01", "01", "01", "01", "01", "01", "...
$ delai       <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ mdtrt       <chr> "07", "07", "07", "07", "07", "07", "07", "07", "07", "...
$ dispres     <chr> "   ", "   ", "   ", "   ", "   ", "   ", "   ", "   ",...
$ exotm       <chr> "0", "0", "0", "4", "4", "4", "4", "0", "0", "0", "0", ...
$ specex      <chr> "01", "01", "01", "06", "06", "06", "06", "06", "06", "...
$ codact      <chr> "C", "C", "C", "ADI", "ADI", "ADI", "ADI", "ADI", "ADI"...
$ quant       <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ coeff       <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 3, 1, 1, 1...
$ denomb      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ pu          <dbl> 23.00, 23.00, 23.00, 1.50, 69.00, 25.27, 1.50, 1.50, 25...
$ mtbrem      <dbl> 23.00, 23.00, 0.00, 1.50, 69.00, 30.78, 1.50, 1.50, 30....
$ taux        <int> 70, 70, 0, 100, 100, 100, 100, 100, 100, 100, 70, 100, ...
$ mtremamo    <dbl> 16.10, 16.10, 0.00, 1.50, 69.00, 30.78, 1.50, 1.50, 30....
$ mthonor     <dbl> 23.00, 23.00, 23.00, 1.50, 69.00, 30.78, 1.50, 1.50, 30...
$ mtremamc    <dbl> 6.9, 6.9, 23.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 13.8...
$ filler2     <chr> "           ", "           ", "           ", "         ...
$ tyufc       <chr> "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "...
$ coeffmco    <chr> "00000", "00000", "00000", "00000", "00000", "00000", "...

In [4]:
tbl_rsf(con, 17, 'rafael_c') %>% 
    sample_n(1000) %>% 
    count(codact, sort = TRUE) %>% 
    collect()

   codact n
1  C      182
2  B      177
3  MCS    137
4  AMI    103
5  CS      95
6  ADI     79
7  ATM     74
8  CNP     28
9  APC     21
10 ADE     19
11 ADC     11
12 AMY     10
13 CSC      8
14 MM       8
15 APU      7
16 C   F    6
17 AMC      5
18 AMO      4
19 AMS      4
20 G        4
21 APY      3
22 BHN      3
23 AMI F    2
24 PH7      2
25 VAC      1
26 G   N    1
27 SDE      1
28 SE5      1
29 CNR      1
30 SF       1
31 TO       1
32 AMI N    1

In [6]:
tbl_rsf(con, 17, 'rafael_c') %>% sample_n(100)  %>% count()

# Source:   lazy query [?? x 1]
# Database: MonetDBEmbeddedConnection
      n
  <dbl>
1  100.

# Combien de séjours M4 Inca de 2011 à 2017 à l'AP-HP

In [7]:
library(nomensland)
all_listes <- get_all_listes('Cancérologie : Chirurgie M4 Inca')
an = 17
11:17  %>% purrr::map(purrr::quietly(function(an){
    lancer_requete_db(con, an, all_listes) %>% 
  count(Requete) %>% mutate(annee  = 2000 + an)})
    ) %>% 
    purrr::map('result') %>% 
    bind_rows() %>% 
    tidyr::spread(annee, n, fill = 0)

  Requete     2011 2012 2013 2014 2015 2016 2017
1 Digestif    449  544  524  486  678  723  654
2 Gynécologie 164  157  130  136  147  148  154
3 Orl-MF      596  636  668  705  673  757  731
4 Sein        241  220  218  257  218  270  305
5 Thorax       10    8    6    2    8    7    5
6 Urologie    386  394  386  375  348  402  426